/* all clear tooltip */

.mytooltip1 {
  position: relative !important;
  color: black;
  margin-right: auto;
  cursor: help;
}

/* Check in tooltip */
.mytooltip1 .mytooltiptext2 {
  visibility: hidden;
  position: absolute;
  left: 200px;
  top: 0;
  width: 300px;
  background-color: white;
  color: black;
  /* margin-left: 10px; */
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(30% 0, 30% 12%, 100% 12%, 100% 100%, 0 100%, 0 34%, 0 0);
  border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

@media (max-width:768px) {
  .mytooltiptext2 {
    top: -50px !important;
    left: 60px !important;
  }
}

/* Baggage tooltip */

.mytooltip1 .mytooltiptext7 {
  visibility: hidden;
  position: absolute;
  left: 670px;
  top: -80px;
  width: 300px;
  background-color: white;
  color: black;
  /* margin-left: 10px; */
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(35% 0, 35% 10%, 100% 10%, 100% 100%, 0 100%, 0 34%, 0 0);
  border-radius: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

@media (max-width:768px) {
  .mytooltip1 .mytooltiptext7 {
    left: 580px;
  }
}

.mytooltip1 .mytooltiptext1 {
  visibility: hidden;
  position: absolute;
  left: 270px;
  top: 0;

  width: 200px;
  background-color: white;
  color: black;
  /* margin-left: 10px; */
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(39% 0, 39% 10%, 100% 10%, 100% 100%, 0 100%, 0 34%, 0 0);
  border-radius: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

@media (max-width:768px) {
  .mytooltiptext1 {
    top: 40px !important;
    left: 50px !important;
  }
}

.mytooltip1 .mytooltiptext3 {
  visibility: hidden;
  position: absolute;
  left: 770px;
  top: 0;

  width: 300px;
  background-color: white;
  color: black;
  /* margin-left: 10px; */
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(55% 0, 55% 10%, 100% 10%, 100% 100%, 0 100%, 0 34%, 0 0);
  border-radius: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

@media (max-width:768px) {
  .mytooltiptext3 {
    left: 510px !important;
  }
}

.mytooltip1 .mytooltiptext4 {
  visibility: hidden;
  position: absolute;
  left: 810px;
  top: 115px;

  width: 300px;
  background-color: white;
  color: black;
  /* margin-left: 10px; */
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(45% 0, 45% 15%, 100% 15%, 100% 100%, 0 100%, 0 34%, 0 0);
  border-radius: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

@media (max-width:768px) {
  .mytooltiptext4 {
    left: 510px !important;
    top: 0 !important;
  }
}



.mytooltiptext5 {
  visibility: hidden;
  position: absolute;
  left: 280px;
  top: 115px;

  width: 300px;
  background-color: white;
  color: black;
  /* margin-left: 10px; */
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(50% 0, 50% 10%, 100% 10%, 100% 100%, 0 100%, 0 34%, 0 0);
  border-radius: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.mytooltiptext6 {
  visibility: hidden;
  position: absolute;
  left: 850px;
  top: 165px;

  width: 300px;
  background-color: white;
  color: black;
  /* margin-left: 10px; */
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(55% 0, 55% 10%, 100% 10%, 100% 100%, 0 100%, 0 34%, 0 0);
  border-radius: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.mytooltip1:hover img {
  opacity: 0.7;
}

.mytooltip1:hover .mytooltiptext1,
.mytooltip1:hover .mytooltiptext2,
.mytooltip1:hover .mytooltiptext3,
.mytooltip1:hover .mytooltiptext4,
.mytooltip1:hover .mytooltiptext5,
.mytooltip1:hover .mytooltiptext6,
.mytooltip1:hover .mytooltiptext7 {
  animation-name: showtooltip;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.84, -0.18, 0.31, 1.26);
}

@keyframes showtooltip {
  0% {
    visibility: hidden;
    transform: scale(0.7);
  }

  100% {
    visibility: visible;
    transform: scale(1);
  }
}

.mytooltip_header1 {
  font-size: 13px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.small_orange {
  height: 10px;
  width: 10px;
  background-color: #f58220;
  /* margin-top: 5px; */
  border-radius: 50%;
}

.small_green {
  height: 10px;
  width: 10px;
  background-color: #39bdac;
  /* margin-top: 5px; */
  border-radius: 50%;
}

.small_pink {
  height: 10px;
  width: 10px;
  background-color: #ec008c;
  /* margin-top: 5px; */
  border-radius: 50%;
}

.small_yellow {
  height: 10px;
  width: 10px;
  background-color: #e5e758;
  /* margin-top: 5px; */
  border-radius: 50%;
}

.mytooltip_content1 {
  font-size: 12px;
}
