/* all clear tooltip */

.mytooltip1 {
  position: relative !important;
  color: black;
  margin-right: auto;
  cursor: help;
}

/* Check in tooltip */
.mytooltip1 .mytooltiptext2 {
  visibility: hidden;
  position: absolute;
  left: 200px;
  top: 10px;
  width: 200px;
  background-color: white;
  color: black;
  /* margin-left: 10px; */
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(33% 0%, 33% 25%, 100% 25%, 100% 100%, 0 100%, 0 34%, 0 0);
  border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

/* Baggage tooltip */

.mytooltip1 .mytooltiptext7 {
  visibility: hidden;
  position: absolute;
  left: 670px;
  top: -80px;
  width: 200px;
  background-color: white;
  color: black;
  /* margin-left: 10px; */
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(33% 0%, 33% 25%, 100% 25%, 100% 100%, 0 100%, 0 34%, 0 0);
  border-radius: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.mytooltip1 .mytooltiptext1 {
  visibility: hidden;
  position: absolute;
  left: 370px;
  top: 0;

  width: 150px;
  background-color: white;
  color: black;
  /* margin-left: 10px; */
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(45% 0%, 45% 25%, 100% 25%, 100% 100%, 0 100%, 0 34%, 0 0);
  border-radius: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.mytooltip1 .mytooltiptext3 {
  visibility: hidden;
  position: absolute;
  left: 770px;
  top: 0;

  width: 200px;
  background-color: white;
  color: black;
  /* margin-left: 10px; */
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(60% 0%, 60% 25%, 100% 25%, 100% 100%, 0 100%, 0 34%, 0 0);
  border-radius: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.mytooltip1 .mytooltiptext4 {
  visibility: hidden;
  position: absolute;
  left: 810px;
  top: 115px;

  width: 200px;
  background-color: white;
  color: black;
  /* margin-left: 10px; */
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(55% 0, 55% 15%, 100% 15%, 100% 100%, 0 100%, 0 34%, 0 0);
  border-radius: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.mytooltiptext5 {
  visibility: hidden;
  position: absolute;
  left: 280px;
  top: 300px;

  width: 200px;
  background-color: white;
  color: black;
  /* margin-left: 10px; */
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(60% 0, 60% 20%, 100% 20%, 100% 100%, 0 100%, 0 34%, 0 0);
  border-radius: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.mytooltiptext6 {
  visibility: hidden;
  position: absolute;
  left: 830px;
  top: 200px;

  width: 200px;
  background-color: white;
  color: black;
  padding-top: 20px !important;
  padding: 10px;
  border-radius: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.mytooltiptext8 {
  visibility: hidden;
  position: absolute;
  left: 680px;
  top: 220px;

  width: 200px;
  background-color: white;
  color: black;
  /* margin-left: 10px; */
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(60% 0, 60% 20%, 100% 20%, 100% 100%, 0 100%, 0 34%, 0 0);
  border-radius: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.mytooltip1:hover img {
  opacity: 0.7;
}

.mytooltip1:hover .mytooltiptext1,
.mytooltip1:hover .mytooltiptext2,
.mytooltip1:hover .mytooltiptext3,
.mytooltip1:hover .mytooltiptext4,
.mytooltip1:hover .mytooltiptext5,
.mytooltip1:hover .mytooltiptext6,
.mytooltip1:hover .mytooltiptext7,
.mytooltip1:hover .mytooltiptext8 {
  animation-name: showtooltip;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.84, -0.18, 0.31, 1.26);
}

@keyframes showtooltip {
  0% {
    visibility: hidden;
    transform: scale(0.7);
  }

  100% {
    visibility: visible;
    transform: scale(1);
  }
}

.mytooltip_header1 {
  font-size: 11px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.small_orange {
  height: 10px;
  width: 10px;
  background-color: #f58220;
  /* margin-top: 5px; */
  border-radius: 50%;
}

.small_green {
  height: 10px;
  width: 10px;
  background-color: #39bdac;
  /* margin-top: 5px; */
  border-radius: 50%;
}

.small_pink {
  height: 10px;
  width: 10px;
  background-color: #ec008c;
  /* margin-top: 5px; */
  border-radius: 50%;
}

.small_yellow {
  height: 10px;
  width: 10px;
  background-color: #e5e758;
  /* margin-top: 5px; */
  border-radius: 50%;
}

.mytooltip_content1 {
  font-size: 8px;
}
